@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

 @if(@Model.Machines.Count == 0)
{
  <p>This engineer does not fix any machines, which means they do nothing.  Which means they should probably be fired.</p>
}
else
{
  <h4>Machines this engineer can fix</h4>
  <ul>
  @foreach(Machine machine in Model.Machines)
  {
    string machinesEngineerFixes = "";
    @if(machine.JoinEntities.Count == 0)
    {
      machinesEngineerFixes = "This machine is just going to stay broken until a proper engineer is hired.";
    }
    else
    {
      List<string> machineList = new List<string>();
      @foreach(EngineerMachine join in machine.JoinEntities)
      {
        machineList.Add(join.Machine.Name);
      }
      machinesEngineerFixes = String.Join(", ", machineList);
    }
    <li>@machine.Name | Machines: @machinesEngineerFixes</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add new machine", "Create", "Machines")</p>