@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer //so we can use Html helper methods x2

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This engineer has no machines to fix!</p>
}
else
{
  <h4>This engineer can fix the following machines:</h4>
  <ul>
  @foreach (EnMa join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EnMaId)
        <input type="submit" value="Click here if @join.Engineer.Name should no longer be allowed to fix @join.Machine.Name"/>
      }
    }
  </ul>
}
<p>@Html.ActionLink("Add a machine this engineer can fix", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to the engineers list", "Index")</p>